USE [Test]
GO
/****** Object:  Table [dbo].[STI]    Script Date: 11.01.2018 12:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTur] [smallint] NOT NULL,
	[EvrakNo] [varchar](16) NOT NULL,
	[Tarih] [int] NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[Miktar] [numeric](25, 6) NOT NULL,
	[Fiyat] [numeric](25, 6) NOT NULL,
	[Tutar] [numeric](25, 6) NOT NULL,
	[Birim] [varchar](4) NOT NULL,
 CONSTRAINT [pkSTI] PRIMARY KEY CLUSTERED 
(
	[EvrakNo] ASC,
	[Tarih] ASC,
	[IslemTur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STK]    Script Date: 11.01.2018 12:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[MalAdi] [varchar](50) NOT NULL,
 CONSTRAINT [pkSTK] PRIMARY KEY CLUSTERED 
(
	[MalKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STI] ON 

INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (608, 0, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (609, 1, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (170, 0, N'  000029', 42782, N'10081 SİEMENS', CAST(1.000000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), N'ADET')
GO
SET IDENTITY_INSERT [dbo].[STI] OFF
SET IDENTITY_INSERT [dbo].[STK] ON 

INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (6, N'10081 SİEMENS', N'NB MONOFAZE OTOMATLAR')
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (7, N'10082 SİEMENS', N'5SQ2160-2YA10 B 10A  OTOMATİK SİGORTA')
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (8, N'10083 SİEMENS', N'5SQ2160-2YA16 B 16A  OTOMATİK SİGORTA')
SET IDENTITY_INSERT [dbo].[STK] OFF


USE Test
GO
CREATE PROCEDURE try_proc
--DECLARE THE PARAMETERS
@malKodu varchar(50),
@baslangicTarihi datetime,
@bitisTarihi datetime
AS
BEGIN
      SET NOCOUNT ON;
      --DECLARE THE VARIABLES FOR HOLDING DATA.
DECLARE @tableSti TABLE (SiraNo int,IslemTur int, EvrakNo nvarchar(100),Tarih date,GirisMiktar int,CikisMiktar int,Stok int)
declare @container int
set @container = 0
declare @siraNo int,@islemTur int, @evrakNo nvarchar(100),@tarih date,@girisMiktar int,@cikisMiktar int,@stok int
      --DECLARE THE CURSOR FOR A QUERY.
      DECLARE stokcrs CURSOR READ_ONLY
      FOR
      select ID as SıraNo,
IslemTur,
EvrakNo,
CONVERT(DATE, CAST(STI.Tarih - 2 AS datetime), 104) as Tarih,
CASE WHEN IslemTur = 1 AND Miktar != 0 THEN Miktar ELSE 0 END as GirisMiktar,
CASE WHEN IslemTur = 0 THEN Miktar ELSE 0 END as CikisMiktar ,
Miktar as Stok
from STI where MalKodu = @malKodu and CONVERT(DATE, CAST(Tarih - 2 AS datetime), 104) between @baslangicTarihi and @bitisTarihi
      --OPEN CURSOR.
      OPEN stokcrs
 
      --FETCH THE RECORD INTO THE VARIABLES.
      FETCH NEXT FROM stokcrs INTO
      @siraNo,@islemTur,@evrakNo,@tarih,@girisMiktar,@cikisMiktar,@stok
 
      --LOOP UNTIL RECORDS ARE AVAILABLE.
      WHILE @@FETCH_STATUS = 0
      BEGIN
          IF @islemTur = 1
		  SET @container = @container + @stok
		  ELSE IF @islemTur = 0  and @stok != 0
		  SET @container = @container - @stok
 
			INSERT INTO @tableSti (SiraNo ,IslemTur , EvrakNo ,Tarih ,GirisMiktar ,CikisMiktar ,Stok) 
			VALUES (@siraNo,@islemTur,@evrakNo,@tarih,@girisMiktar,@cikisMiktar,@container)
             --FETCH THE NEXT RECORD INTO THE VARIABLES.
              FETCH NEXT FROM stokcrs INTO
      @siraNo,@islemTur,@evrakNo,@tarih,@girisMiktar,@cikisMiktar,@stok
      END
	  SELECT * FROM @tableSti
      --CLOSE THE CURSOR.
      CLOSE stokcrs
      DEALLOCATE stokcrs
END
GO